/* 

ids are denoted by '#'
classes are denotedby '.'

*/

body {
	background-color: #fffcde;
	font-family: 'Roboto', sans-serif;
}

#main {
	max-width: 1000px;
	margin: auto;
}

.container {
	padding: 24px;
}

#profile {
	text-align: left;
	display:flex;
}

#profile-pic {
	width: 200px;
	height: 200px;
}

#profile-desc {
	color: purple;
	font-size: 30px;
	font-family: 'Ysabeau Office', sans-serif;
	font-weight: 1000;
	line-height: 30px;
	letter-spacing: 1px;
	padding-top:63px;
}

img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}